$blue: #007bff;

body {
    background-color: #f5f8fa;
    font-size: 0.8em;

    header {
        background-color: #3097d1;

        div.container {
            div.row {
                div.top-nav {
                    nav.navbar.navbar-expand-lg {
                        display: flex;
                        justify-content: flex-end;
                        a.navbar-brand {
                            position: absolute;
                            left: 0;
                            top: 0.4em;

                            img {
                                max-width: 80px;
                            }
                        }
                        ul {
                          display: flex;
                          justify-content: flex-start;
                          li {
                            a {
                              color: rgba(255, 255, 255, 0.8);
                            }
                          }
                        }
                        form {
                          a i {
                            color: rgba(255, 255, 255, 0.8);
                            margin-left: 1em;
                            font-size: 1.5em;
                            transform: rotate(-20deg);
                          }
                          img {
                            max-width: 3em;
                            margin-left: 2em;
                          }
                        }
                    }
                }
            }
        }
    }

    div.container {
        div.row {
            div.layout-div {
                aside.left-bar, aside.right-bar, main.main-content {
                    min-height: 500px;
                    // background-color: blue;
                    h6 {
                      font-size: 0.9rem;
                      font-weight: bold;
                    }
                    div.flexible {
                      display: flex;
                      justify-content: space-between;

                    }
                    div.comment-row {
                      padding-top: 1em;
                      padding-bottom: 1em;
                    }
                    div.card-m-top {
                      margin-top: 2em;
                    }
                    div.card-body {
                        ul {
                            padding-left: 0;

                            li {
                                list-style: none;

                                i {
                                    width: 2em;
                                }
                            }
                        }
                    }
                }

                main.main-content {
                    min-height: 500px;
                    // background-color: yellow;
                    div.radius-top {
                        border-radius: 3px 3px 0 0;
                        border-bottom: 0;
                    }
                    div.radius-bottom {
                        border-radius: 0 0 3px 3px;
                    }
                }

                aside.right-bar {
                    min-height: 500px;
                    // background-color: red;
                }
            }
        }
    }

    span {
        color: $blue;
    }

    @mixin username($color) {
        color: $color;
        opacity: 0.8;
    }

    span.user {
        @include username(grey);
    }

    span.linky-span {
        font-size: 0.7em;
    }

    div.img_x_2_container {
      position: relative;
      margin-bottom: 15%;
    }

    img#bg_img {
    }

    img#img_profil {
        position: absolute;
        width: 34%;
        left: 33%;
        border: 2px solid white;
        top: 75%;

    }

    h5{
        font-weight: bold;
        font-size: 1rem;
    }

    p,h4,h5,h6{
        color: #536570;
    }

    .btn.border-primary {
        font-size: 0.8rem;
    }
}

@media screen and(min-width: 960px){
    body header div.container div.row div.top-nav nav.navbar.navbar-expand-lg a.navbar-brand {
        position: static;
    }
}

@media screen and(min-width:768px)and(max-width:991px){
     .btn-link:nth-child(2){
         padding: 0.375rem 0;

     }
}
