div.container {
  div.row {
    div.top-nav {
      nav.navbar.navbar-expand-lg {
        background-color: #3097d1;
        a.navbar-brand {
          img {
            max-width: 25%;
          }
        }
      }
    }
    div.layout-div {
      aside.left-bar {
        min-height: 500px;
        background-color: blue;
      }
      main.main-content {
        min-height: 500px;
        background-color: yellow;
      }
      aside.right-bar {
        min-height: 500px;
        background-color: red;
      }
    }
  }
}
